<div class="container">
    {{#article}}
        <h1 class="mb-1">{{ title }}</h1>
        <div class="text-muted mb-2">{{ createdAt }}</div>
        <h5 class="mb-1">{{ content }}</h5>
        <br>
        <a href="/" class="btn btn-secondary">Bloglar</a>
        <a href="/articles/edit/{{ _id }}" class="btn btn-info">Düzenle</a>
     {{/article}}
</div>